{% extends "base.html" %}
{% block title %}The Python User Group in Princeton{% endblock %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <p align="center"><img src='/static/img/pugip-logo-transparent.png'/></p>
    <h2>Welcome to the Python User Group in Princeton</h2>
    <p>
    The Python User Group in Princeton (PUG-IP) is a friendly and diverse group of
    programmers of all levels and backgrounds, bound together by a passion for
    elegant code and an interest in Python as one way to achieve that goal. The
    group participates in and hosts various educational and community outreach
    events.
    </p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
      <h2>Meetings</h2>
       <p>Our meetups are held on the second Monday of each month at the Princeton Public
       Library. Please see the <a href="http://meetup.com/pug-ip">PUG-IP meetup.com
       page</a> for details about upcoming meetups.</p>
      <p><a class="btn" href="http://meetup.com/pug-ip">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Other Events</h2>
       <p>In February 2012, volunteers from PUG-IP taught an introductory Python course
       that was very well received. Stay tuned to this site and the <a
       href="http://www.facebook.com/#!/PPLNJ">Princeton Public
       Library Facebook page</a> for announcements about future events. </p>
      <p><a class="btn" href="http://www.facebook.com/#!/PPLNJ">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>This Site</h2>
      <p>The pugip.org site is a collaborative effort among any members who care to be
      involved. It's a way for members to stretch their wings and work with things we
      might not otherwise get our hands on. It's fun! Stay tuned here for future
      developments. We collaborate via <a href="http://github.com/pugip">a github
      organization</a>, and deploy to <a href="http://heroku.com">Heroku</a>.</p>
      <p><a class="btn" href="http://github.com/pugip">View details &raquo;</a></p>
    </div>
</div>

{% endblock %}
